@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Sans&display=swap');

$bg-color: #ddd;
$header-font: 'Fira Sans', arial, sans-serif;
$body-font: 'Cantarell', arial, sans-serif;