@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: "Cantarell", arial, sans-serif;
}

h1 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  min-height: min-content;
  position: fixed;
  top: 0;
}

.test-nav {
  background-color: yellowgreen;
}

.test {
  border: 1px solid #018585;
  text-align: center;
}

.grid_1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 7.3333333333%;
}

.grid_2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15.6666666667%;
}

.grid_3 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 24%;
}

.grid_4 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 32.3333333333%;
}

.grid_5 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40.6666666667%;
}

.grid_6 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 49%;
}

.grid_7 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 57.3333333333%;
}

.grid_8 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 65.6666666667%;
}

.grid_9 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 74%;
}

.grid_10 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 82.3333333333%;
}

.grid_11 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90.6666666667%;
}

.grid_12 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 99%;
}

.left_offset_none {
  margin-left: 0.5%;
}

.left_offset_1 {
  margin-left: 8.8333333333%;
}

.left_offset_2 {
  margin-left: 17.1666666667%;
}

.left_offset_3 {
  margin-left: 25.5%;
}

.left_offset_4 {
  margin-left: 33.8333333333%;
}

.left_offset_5 {
  margin-left: 42.1666666667%;
}

.left_offset_6 {
  margin-left: 50.5%;
}

.left_offset_7 {
  margin-left: 58.8333333333%;
}

.left_offset_8 {
  margin-left: 67.1666666667%;
}

.left_offset_9 {
  margin-left: 75.5%;
}

.left_offset_10 {
  margin-left: 83.8333333333%;
}

.left_offset_11 {
  margin-left: 92.1666666667%;
}

.right_offset_none {
  margin-right: 0.5%;
}

.right_offset_1 {
  margin-right: 8.8333333333%;
}

.right_offset_2 {
  margin-right: 17.1666666667%;
}

.right_offset_3 {
  margin-right: 25.5%;
}

.right_offset_4 {
  margin-right: 33.8333333333%;
}

.right_offset_5 {
  margin-right: 42.1666666667%;
}

.right_offset_6 {
  margin-right: 50.5%;
}

.right_offset_7 {
  margin-right: 58.8333333333%;
}

.right_offset_8 {
  margin-right: 67.1666666667%;
}

.right_offset_9 {
  margin-right: 75.5%;
}

.right_offset_10 {
  margin-right: 83.8333333333%;
}

.right_offset_11 {
  margin-right: 92.1666666667%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .m_grid_1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 7.3333333333%;
  }

  .m_grid_2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15.6666666667%;
  }

  .m_grid_3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 24%;
  }

  .m_grid_4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 32.3333333333%;
  }

  .m_grid_5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40.6666666667%;
  }

  .m_grid_6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 49%;
  }

  .m_grid_7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 57.3333333333%;
  }

  .m_grid_8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 65.6666666667%;
  }

  .m_grid_9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 74%;
  }

  .m_grid_10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82.3333333333%;
  }

  .m_grid_11 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90.6666666667%;
  }

  .m_grid_12 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 99%;
  }

  .m_left_offset_none {
    margin-left: 0.5%;
  }

  .m_left_offset_1 {
    margin-left: 8.8333333333%;
  }

  .m_left_offset_2 {
    margin-left: 17.1666666667%;
  }

  .m_left_offset_3 {
    margin-left: 25.5%;
  }

  .m_left_offset_4 {
    margin-left: 33.8333333333%;
  }

  .m_left_offset_5 {
    margin-left: 42.1666666667%;
  }

  .m_left_offset_6 {
    margin-left: 50.5%;
  }

  .m_left_offset_7 {
    margin-left: 58.8333333333%;
  }

  .m_left_offset_8 {
    margin-left: 67.1666666667%;
  }

  .m_left_offset_9 {
    margin-left: 75.5%;
  }

  .m_left_offset_10 {
    margin-left: 83.8333333333%;
  }

  .m_left_offset_11 {
    margin-left: 92.1666666667%;
  }

  .m_right_offset_none {
    margin-right: 0.5%;
  }

  .m_right_offset_1 {
    margin-right: 8.8333333333%;
  }

  .m_right_offset_2 {
    margin-right: 17.1666666667%;
  }

  .m_right_offset_3 {
    margin-right: 25.5%;
  }

  .m_right_offset_4 {
    margin-right: 33.8333333333%;
  }

  .m_right_offset_5 {
    margin-right: 42.1666666667%;
  }

  .m_right_offset_6 {
    margin-right: 50.5%;
  }

  .m_right_offset_7 {
    margin-right: 58.8333333333%;
  }

  .m_right_offset_8 {
    margin-right: 67.1666666667%;
  }

  .m_right_offset_9 {
    margin-right: 75.5%;
  }

  .m_right_offset_10 {
    margin-right: 83.8333333333%;
  }

  .m_right_offset_11 {
    margin-right: 92.1666666667%;
  }
}
@media screen and (min-width: 1024px) {
  .l_grid_1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 7.3333333333%;
  }

  .l_grid_2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15.6666666667%;
  }

  .l_grid_3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 24%;
  }

  .l_grid_4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 32.3333333333%;
  }

  .l_grid_5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40.6666666667%;
  }

  .l_grid_6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 49%;
  }

  .l_grid_7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 57.3333333333%;
  }

  .l_grid_8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 65.6666666667%;
  }

  .l_grid_9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 74%;
  }

  .l_grid_10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82.3333333333%;
  }

  .l_grid_11 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90.6666666667%;
  }

  .l_grid_12 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 99%;
  }

  .l_left_offset_none {
    margin-left: 0.5%;
  }

  .l_left_offset_1 {
    margin-left: 8.8333333333%;
  }

  .l_left_offset_2 {
    margin-left: 17.1666666667%;
  }

  .l_left_offset_3 {
    margin-left: 25.5%;
  }

  .l_left_offset_4 {
    margin-left: 33.8333333333%;
  }

  .l_left_offset_5 {
    margin-left: 42.1666666667%;
  }

  .l_left_offset_6 {
    margin-left: 50.5%;
  }

  .l_left_offset_7 {
    margin-left: 58.8333333333%;
  }

  .l_left_offset_8 {
    margin-left: 67.1666666667%;
  }

  .l_left_offset_9 {
    margin-left: 75.5%;
  }

  .l_left_offset_10 {
    margin-left: 83.8333333333%;
  }

  .l_left_offset_11 {
    margin-left: 92.1666666667%;
  }

  .l_right_offset_none {
    margin-right: 0.5%;
  }

  .l_right_offset_1 {
    margin-right: 8.8333333333%;
  }

  .l_right_offset_2 {
    margin-right: 17.1666666667%;
  }

  .l_right_offset_3 {
    margin-right: 25.5%;
  }

  .l_right_offset_4 {
    margin-right: 33.8333333333%;
  }

  .l_right_offset_5 {
    margin-right: 42.1666666667%;
  }

  .l_right_offset_6 {
    margin-right: 50.5%;
  }

  .l_right_offset_7 {
    margin-right: 58.8333333333%;
  }

  .l_right_offset_8 {
    margin-right: 67.1666666667%;
  }

  .l_right_offset_9 {
    margin-right: 75.5%;
  }

  .l_right_offset_10 {
    margin-right: 83.8333333333%;
  }

  .l_right_offset_11 {
    margin-right: 92.1666666667%;
  }
}

/*# sourceMappingURL=style.css.map */
